

.imgcon {
  width:110%;
  height:110%;
  margin-top: -25px;
  margin-left: -30px;
  margin-right: -30px;
  position: relative;
  overflow: visible;
}

h1 {
  font-size: 3.2vw;
  font-family: gustan;
}

h2 {
  font-size: 1.2vw;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
}

.intro-divider {
   height: 6px;
   background: transparent linear-gradient(to right, #157BA3 0%, #96D602 100%) repeat scroll 0% 0%;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 15%;
   margin-right: 15%;
}

.intro-divider2 {
  height: 8px;
  background: transparent linear-gradient(to right, #96D602 0%,  #157BA3 100%) repeat scroll 0% 0%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 15%;
  margin-right: 15%;
}

.intro-divider3 {
  height: 3px;
  background: transparent linear-gradient(to right, #157BA3 0%,  #157BA3 100%) repeat scroll 0% 0%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
}

.intro-divider4 {
  height: 3px;
  background: transparent linear-gradient(to right, #505050 0%,  #505050 100%) repeat scroll 0% 0%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
}

.fp_note {
  font-size: 0.8vw;
  font-family: gustan;
  color: #303030;
}

p {
  margin-bottom:2%;
}

.p1 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  font-size: 1.2vw;
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
}

.pblock {
  color: black;
  padding-left: 1%;
  padding-right: 1%;
  text-align: left;
  margin-left: 18%;
  margin-right: 15%;
  font-size: 1.1vw;
}

.logo1 {
  position: absolute;
  bottom: 1%;
  left: 50%;
  width: 5%;
  margin-left: -2.5%;
}

.logo2 {
  position: absolute;
  bottom: 2%;
  right: 25%;
  height: 5%;
}

.logo3 {
  position: absolute;
  bottom: 2%;
  height: 5%;
  left: 23%;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
  color: #fff !important;
  
  background-color: darkolivegreen !important;
  background-image: none !important;
  height: 2.5vw;
}

.navbar-nav {
  font-size: 2.5vh;
  margin-left: -30px;
  margin-right: 0%;
  height: 4.5vh;
  background-color: lightgray;
}


.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.text-block {
  position: absolute;
  top: 10%;
  bottom: 73%;
  right: 17%;
  left: 43%;
  background-color: black;
  color: lightgrey;
  padding-left: 1%;
  padding-right: 1%;
  opacity: 0.55;
}
.landing-block {
  position: absolute;
  top: 30%;
  bottom: 15%;
  right: 17%;
  left: 48%;
  background: rgba(200, 200, 200, 0.3);
  color: darkgrey;
  padding-left: 1%;
  padding-right: 1%;

}
.lp_text {	
  font-size: 1.25vw;
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  color: rgba(60, 60, 60, 1);
  font-family: gustan;
}
